@font-face {
    font-family: "Runescape";
    src: local("Runescape"),
      url("./fonts/runescape.ttf") format("truetype");
    font-weight: normal;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: #121113;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#districts {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding-top: 15px;
  padding-bottom: 15px;
}


.district-button {

  padding: 11px;
  align-items: center;
  width: 95px;
  border-radius: var(--border-radius);
  background: rgb(39,37,40);
  background: radial-gradient(circle, rgba(39,37,40,1) 0%, rgba(33,31,34,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-left: var(--left-offset);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out;
  margin-bottom: 15px;
}

.text {
    margin-top: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

    font-family: 'Runescape';
    color: var(--text-color);
    font-smooth: antialiased;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.name {
    font-size: 16px;
}

.district-button:hover{
  transform: scale(1.03);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.disabled {
    background: rgba(39,37,40, 0.2);
    background: radial-gradient(circle, rgba(39,37,40,0.15) 0%, rgba(33,31,34,0.15) 100%);
    cursor: default;
    transition: none;
    transform: scale(1);
    box-shadow: none;
}

.disabled:hover {
    transform: scale(1);
    box-shadow: none;
}

.disabled img, .disabled .text{ opacity: 0.15; }
.disabled .clear-button { pointer-events: all }

#root {
  --text-color: #ffea03;
  --border-radius: 6px;
  --left-offset: 15px;
  --card-color: #211f22;
}

.status {
    width: 200px;
    padding: 10px;
    background: var(--card-color);
    font-family: 'Runescape';
    color: var(--text-color);
    margin-left: var(--left-offset);
    border-radius: var(--border-radius);
    margin-top: 20px;
}

.clear-button {
    position: absolute;
    z-index: 99;
    background: var(--card-color);
    font-family: 'Runescape';
    padding: 5px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 3px;
    transition: 0.7s;
}

.fadeOut{
    opacity:0;
    transition: 0.2s;
}
.fadeIn{
    opacity:1;
}